{% assign product = product.metafields.product %}

<form data-money-format="{{ shop.money_format }}" id="product-form-{{ product.id }}">
  {% if product.available %}
  <div class="product-add">
    <a class="buy-now-link" href="{{ product.link }}" target="_blank">
      <input type="button" name="button" value="{{ 'products.product.buy_now' | t }}" />
    </a>
  </div>
  {% endif %}
</form>
