{% assign metafield = product.metafields %}

<form id="product-form-{{ product.id }}">
  <div class="product-add">
    <a class="buy-now-link" href="{{ metafield.product.link }}" target="_blank">
      <input type="button" name="button" value="{{ 'products.product.buy_now' | t }}" />
    </a>
  </div>
</form>
