{% if settings.home_section_1 != blank %}
  {% include settings.home_section_1 %}
{% endif %}

{% if settings.home_section_2 != blank %}
  {% include settings.home_section_2 %}
{% endif %}

{% if settings.home_section_3 != blank %}
  {% include settings.home_section_3 %}
{% endif %}

{% if settings.home_section_4 != blank %}
  {% include settings.home_section_4 %}
{% endif %}

{% if settings.home_section_5 != blank %}
  {% include settings.home_section_5 %}
{% endif %}

{% if settings.home_section_6 != blank %}
  {% include settings.home_section_6 %}
{% endif %}

{% if settings.home_section_7 != blank %}
  {% include settings.home_section_7 %}
{% endif %}

{% if settings.home_section_8 != blank %}
  {% include settings.home_section_8 %}
{% endif %}

{% if settings.home_section_9 != blank %}
  {% include settings.home_section_9 %}
{% endif %}

{% if settings.home_section_10 != blank %}
  {% include settings.home_section_10 %}
{% endif %}

{% if settings.home_section_11 != blank %}
  {% include settings.home_section_11 %}
{% endif %}

{% if settings.home_section_12 != blank %}
  {% include settings.home_section_12 %}
{% endif %}

{% if settings.home_section_13 != blank %}
  {% include settings.home_section_13 %}
{% endif %}



<div class="load-wait">
<i class="icon-spinner icon-spin icon-large"></i>
</div>